.container {
	padding: 30px 45px;
}

.header {
	color: #f15b23;
	text-align: center;
}

.list {
	display: grid;
}

@media (min-width: 768px) {
	.list {
		grid-template-columns: 1fr 1fr;
	}
}
