.container {
	padding: 30px 45px;
}

.header {
	color: var(--primary-color);
	text-align: center;
}

@media (min-width: 768px) {
	.list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 1fr);
		grid-auto-flow: column dense;
	}
}
